* {
  margin: 0;
  padding: 0;
}

.div__pai {
  width: 100%;
  background-color: black;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div__pai p,
h1 {
  padding: 0 5%;
  color: white;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
img {

  width: 70%;
  margin: 5% 32.5%;
  max-width: 500px;
  border-radius: 5%;

}
